
.cart_container {
    position: absolute;
    top: 80px;
    /* right: -100%; */
    right: 0;
    left: 0;
    height: calc(100% - 80px);
    z-index: 4;
    width: 300px;
    background-color: rgba(255, 255, 255, 1);
    transition: 0.5s;
    animation: width 0.5s ease-in-out;
    box-shadow: -2px -2px 5px 2px #888888;

    position: fixed;
    top: 82px;
    height: calc(100vh - 82px);
}

@keyframes width{
    0%{
        opacity: 0;
        /* transform: translateX(-100%); */
        /* right: -100%; */
    }
    100%{
        opacity: 1;
        /* transform: translateX(100%); */
        /* right: 0; */
    }
}
.cart_container.active {
    right: 0;
}

.cart_wrapper {
    padding: 5px;
    position: fixed;
    /* top: 0; */
    width: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cart_header{
    font-weight: bold;
    font-size: 0.8rem;
    /* margin-bottom: 10px; */
}

.cart_page_link{
    margin-top: 5px;
}
.cart_page_link .view_full_cart{
    text-decoration: none;
    font-size: 0.8rem;
    display: flex;
    gap: 2px;
    align-items: center;
    color: dodgerblue;
}
.cart_page_link .view_full_cart > *{
    font-size: 0.8rem;
}

.cart_total{
    width: inherit;
    position: fixed;
    bottom: 10px;
    padding: 5px 10px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cart_total p{
    display: flex;
    justify-content: space-between;
}
.cart_total p:nth-child(1){
    font-size: 0.9rem;
    color: grey;
}
.cart_total p:nth-child(2){
    font-size: 1.1rem;
}
.cart_total p:nth-child(2) span:nth-child(2){
    font-weight: bold;
    color: darkred;
}
.cart_total .checkout{
    text-decoration: none;
    cursor: pointer;
}
.cart_total .checkout button{
    outline: none;
    border: none;
    padding: 5px 10px;
    background-color: #0066b8;
    box-shadow: 2px 2px 3px 1px #888888;
    color: white;
    text-transform: uppercase;
    transition: 0.3s;
}
.cart_total .checkout button:hover {
    cursor: pointer;
    transform: scale(0.95);
    opacity: 0.9;
}

.cart_container .empty_cart{
    position: fixed;
    padding: 10px;
    color: grey;
}
