.featuredProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
}

.featuredProducts .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 1300px;
    gap: 10px;
}

.featuredProducts .header h1 {
    flex: 2;
    width: 100%;
}

.featuredProducts .header p {
    flex: 3;
    color: gray;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.products {
    width: 100%;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

@media screen and (max-width: 900px) {
    .featuredProducts {
        padding: 30px;
    }

    .featuredProducts .header h1 {
        font-size: 1.5rem;
    }

    .featuredProducts .header p {
        font-size: 0.85rem;
        line-height: 1.1;
    }
}

@media screen and (max-width: 768px) {
    .featuredProducts {
        padding: 30px 60px;
    }

    .featuredProducts .header {
        flex-direction: column;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .featuredProducts {
        padding: 30px 10px;
    }

}